.#{$wi-css-prefix}-yrno-01d:before { content: $day-sunny; };
.#{$wi-css-prefix}-yrno-02d:before { content: $day-sunny-overcast; };
.#{$wi-css-prefix}-yrno-03d:before { content: $day-cloudy; };
.#{$wi-css-prefix}-yrno-04:before { content: $cloudy; };
.#{$wi-css-prefix}-yrno-05d:before { content: $day-hail; };
.#{$wi-css-prefix}-yrno-06d:before { content: $day-thunderstorm; };
.#{$wi-css-prefix}-yrno-07d:before { content: $day-rain-mix; };
.#{$wi-css-prefix}-yrno-08d:before { content: $day-snow; };
.#{$wi-css-prefix}-yrno-09:before { content: $hail; };
.#{$wi-css-prefix}-yrno-10:before { content: $rain; };
.#{$wi-css-prefix}-yrno-11:before { content: $thunderstorm; };
.#{$wi-css-prefix}-yrno-12:before { content: $rain-mix; };
.#{$wi-css-prefix}-yrno-13:before { content: $snow; };
.#{$wi-css-prefix}-yrno-14d:before { content: $day-snow-thunderstorm; };
.#{$wi-css-prefix}-yrno-15:before { content: $fog; };
.#{$wi-css-prefix}-yrno-20d:before { content: $day-sleet-storm; };
.#{$wi-css-prefix}-yrno-21d:before { content: $day-snow-thunderstorm; };
.#{$wi-css-prefix}-yrno-22:before { content: $thunderstorm; };
.#{$wi-css-prefix}-yrno-23d:before { content: $day-sleet-storm; };
.#{$wi-css-prefix}-yrno-24d:before { content: $day-storm-showers; };
.#{$wi-css-prefix}-yrno-25d:before { content: $day-thunderstorm; };
.#{$wi-css-prefix}-yrno-26d:before { content: $day-sleet-storm; };
.#{$wi-css-prefix}-yrno-27d:before { content: $day-sleet-storm; };
.#{$wi-css-prefix}-yrno-28d:before { content: $day-snow-thunderstorm; };
.#{$wi-css-prefix}-yrno-29d:before { content: $day-snow-thunderstorm; };
.#{$wi-css-prefix}-yrno-30:before { content: $storm-showers; };
.#{$wi-css-prefix}-yrno-31d:before { content: $day-sleet-storm; };
.#{$wi-css-prefix}-yrno-32d:before { content: $day-sleet-storm; };
.#{$wi-css-prefix}-yrno-33d:before { content: $day-snow-thunderstorm; };
.#{$wi-css-prefix}-yrno-34d:before { content: $day-snow-thunderstorm; };
.#{$wi-css-prefix}-yrno-40d:before { content: $day-showers; };
.#{$wi-css-prefix}-yrno-41d:before { content: $day-rain; };
.#{$wi-css-prefix}-yrno-42d:before { content: $day-sleet; };
.#{$wi-css-prefix}-yrno-43d:before { content: $day-rain-mix; };
.#{$wi-css-prefix}-yrno-44d:before { content: $day-snow; };
.#{$wi-css-prefix}-yrno-45d:before { content: $day-snow-wind; };
.#{$wi-css-prefix}-yrno-46:before { content: $showers; };
.#{$wi-css-prefix}-yrno-47:before { content: $sleet; };
.#{$wi-css-prefix}-yrno-48:before { content: $rain-mix; };
.#{$wi-css-prefix}-yrno-49:before { content: $snow; };
.#{$wi-css-prefix}-yrno-50:before { content: $snow-wind; };

.#{$wi-css-prefix}-yrno-01n:before { content: $night-clear; };
.#{$wi-css-prefix}-yrno-02n:before { content: $night-alt-partly-cloudy; };
.#{$wi-css-prefix}-yrno-03n:before { content: $night-alt-cloudy; };
.#{$wi-css-prefix}-yrno-05n:before { content: $night-alt-hail; };
.#{$wi-css-prefix}-yrno-06n:before { content: $night-alt-thunderstorm; };
.#{$wi-css-prefix}-yrno-07n:before { content: $night-alt-rain-mix; };
.#{$wi-css-prefix}-yrno-08n:before { content: $night-alt-snow; };
.#{$wi-css-prefix}-yrno-14n:before { content: $night-alt-snow-thunderstorm; };
.#{$wi-css-prefix}-yrno-20n:before { content: $night-alt-sleet-storm; };
.#{$wi-css-prefix}-yrno-21n:before { content: $night-alt-snow-thunderstorm; };
.#{$wi-css-prefix}-yrno-23n:before { content: $night-alt-sleet-storm; };
.#{$wi-css-prefix}-yrno-24n:before { content: $night-alt-storm-showers; };
.#{$wi-css-prefix}-yrno-25n:before { content: $night-alt-thunderstorm; };
.#{$wi-css-prefix}-yrno-26n:before { content: $night-alt-sleet-storm; };
.#{$wi-css-prefix}-yrno-27n:before { content: $night-alt-sleet-storm; };
.#{$wi-css-prefix}-yrno-28n:before { content: $night-alt-snow-thunderstorm; };
.#{$wi-css-prefix}-yrno-29n:before { content: $night-alt-snow-thunderstorm; };
.#{$wi-css-prefix}-yrno-31n:before { content: $night-alt-sleet-storm; };
.#{$wi-css-prefix}-yrno-32n:before { content: $night-alt-sleet-storm; };
.#{$wi-css-prefix}-yrno-33n:before { content: $night-alt-snow-thunderstorm; };
.#{$wi-css-prefix}-yrno-34n:before { content: $night-alt-snow-thunderstorm; };
.#{$wi-css-prefix}-yrno-40n:before { content: $night-alt-showers; };
.#{$wi-css-prefix}-yrno-41n:before { content: $night-alt-rain; };
.#{$wi-css-prefix}-yrno-42n:before { content: $night-alt-sleet; };
.#{$wi-css-prefix}-yrno-43n:before { content: $night-alt-rain-mix; };
.#{$wi-css-prefix}-yrno-44n:before { content: $night-alt-snow; };
.#{$wi-css-prefix}-yrno-45n:before { content: $night-alt-snow-wind; };
